.order{
    width: 100vw;
    height: 100vh;

    display: var(--flex);
    flex-wrap: var(--nowrap);
    justify-content: var(--space-between);
}

.order .content{
    width: 94%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--center);
    flex-wrap: var(--wrap);
}

.order .content .filtros{
    width: 95%;
    height: 180px;

    display: var(--flex);
    flex-direction: column;
    justify-content: var(--space-between);
}

.order .content .filtros .tooltipContainer{
    width: 100%;
    height: 70px;

    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--flex-end);

    color: #3f3f3f7c;
    font-size: 10px;
}

.order .content .filtros .tooltipContainer .tooltip{
    width: 20px;
}

.order .content .filtros .filtersContainer{
    width: 100%;
    height: 100px;

    display: var(--flex);
    justify-content: var(--flex-start);

    overflow-x: auto;
}

.order .content .tables{
    width: 95%;
    height: 380px;

    margin-top: -100px;

    background-color: #fff;
}

.order .content .tables .tableHeader{
    width: 100%;
    height: 80px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    border-bottom: solid 1px #75757513;
}

.order .content .tables .tableHeader .container{
    width: 95%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--space-between);
}

.order .content .tables .tableHeader .container .title{
    width: 20%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);

    color: #b8b8b8;
}

.order .content .tables .tableHeader .container .download{
    width: 20%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--flex-end);
    align-items: var(--center);
}

.order .content .tables .tableContent{
    height: 90%;

    padding-bottom: 20px;
    
    box-shadow: var(--box-shadow);
}