.home {
    width: 100vw;
    height: 100vh;

    display: var(--flex);
    justify-content: var(--space-between);
    flex-wrap: var(--wrap);
}

.home .titleHome{
    width: 95%;
    height: 80px;

    margin-bottom: 40px;

    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--flex-end);

    color: #2c73d2;
    font-size: 16pt;
}

/* BASE PARA CONTENT DE TODAS AS PAGES */
    .home .content{
        width: 92%;
        height: 100%;

        display: var(--flex);
        justify-content: var(--flex-start);
        align-items: var(--center);
        flex-wrap: var(--wrap);

        padding-left: 30px;

        overflow-y: auto;
    }

    .home .content .container{
        width: 98%;
        height: 92%;

        display: var(--flex);
        flex-wrap: var(--wrap);
    }
/* BASE PARA CONTENT DE TODAS AS PAGES */

