.home {
    width: 100vw;
    height: 100vh;

    display: var(--flex);
    justify-content: var(--space-between);
    flex-wrap: var(--nowrap);
}

.home .content{
    width: 94.85%;
    height: 100%;

    display: var(--flex);
    flex-wrap: var(--nowrap);
}

.home .content .left{
    width: 45%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.home .content .left .container{
    width: 90%;
    height: 30%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.home .content .left .container .Carrosel{
    width: 100%;
    height: 100%;

    margin-top: 20px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.home .content .left .container .Carrosel .imagem{
    width: 100%;
    margin-left: 110px;
}

.home .content .right{
    width: 65%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    background-image: var(--gradient);
}

.home .content .right .container{
    width: 100%;
    height: 300px;

    display: var(--flex);
    flex-wrap: var(--wrap);
    justify-content: var(--center);
    align-items: var(--center);
}

.home .content .right .container .imagem{
    width: 100%;
}


.home .content .right .container .name{
    width: 100%;
    height: 100px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--flex-start);

    color: #f2f2f2;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 20pt;
}